<!DOCTYPE html>
<html>
<head>
	<title>Matcha</title>
</head>
<body>
	<h1>Matcha Test</h1>
	<p>Inscription</p>
	<form action='/register' method='post'>
		<input type="text" name="login">
		<input type="password" name="password">
		<input type="submit" name="submit" value="S'inscrire">
	</form>
</body>
</html>