#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#siteTitle {
  background-color: #24292e;
  color: white;
  font-size: 2em;
}
h1 {
  background-color: #24292e;
  color: white;
  padding: 5px 10px 5px 10px;
}
h2 {
  margin: 0;
}
.content {
  padding: 5%;
  margin : 2% 5% 2% 5%;
  border: 1px solid lightgrey;
  min-height: 58vh;
}
.cover {
  width: 100%;
  height: 350px;
  background-color: lightgrey;
  border-bottom: solid 1px grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5em;
}
.cover:hover {
  background-color: black;
  opacity: 0.4;
}

body {
  margin: 0;
}
header {
  background-color: #24292e;
  padding: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
}
.element {
  margin: 10px;
}
.element a {
  margin: 5px;
}
a {
  color: lightgrey;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: white;
}
.form-inline {
  display: inline;
}
